[Unit]
Description=Lab
Requires=network.target
After=systemd-user-sessions.service

[Service]
Type=simple
WorkingDirectory=/Lab
Environment=GIN_MODE=release
ExecStart=/Lab/main
PIDFile=/var/run/Lab.pid
KillMode=mixed
TimeoutStopSec=30
User=root
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target